/* who-we-are section  */

.who-we-are {
	/* display: none; */
	background: url("../img/about-bg.png") -30px 230px/800px 100% no-repeat #5D62B5;
	border-radius: 40px;
	padding: 80px 80px 0px;
	margin: 0px 0px 206px 0px;
	min-height: 700px;
	position: relative;
}

.who-we-are__circles {
	position: absolute;
	top: -17%;
	left: 88%;
	background: url('../img/circles.svg') 0 0 no-repeat;
}

.subtitle {
	font-weight: 900;
	font-size: 12px;
	line-height: 120%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px 0px 30px 0px;
}

.subtitle::before {
	content: "";
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url("../img/mark.svg") 0 5px /20px no-repeat;
	margin: 0px 10px 0px 0px;
}

.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #fff;
	max-width: 585px;
	margin: 0px 0px 35px 0px;
}

.who-we-are__text {
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	margin: 0px 0px 54px 0px;
}

.who-we-are__image img {
	position: absolute;
	top: 400px;
	left: 9%;
	border-radius: 40px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	width: 81%;
	height: auto;
}


/* ball section  */

.ball {
	margin: 0 -200px;
	min-height: 500px;
	background: url('../img/main/bg-ball.png') 0 0/auto auto no-repeat;
	/* url('../img/main/bg-ball.png') 0 0/auto auto no-repeat */

}
/* .ball__wrapper {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0 15px;
} */

.ball__body{
	display: flex;
	justify-content: flex-end;
	padding: 112px 210px 169px 299px;
}
.ball__text .title {
	margin: 0px 0px 45px 0px;
} 
.ball__text {
	flex: 0 1 412px;
}
